{% extends "base.html" %}
{% block title %}Case Details - Axial Consulting{% endblock %}
{% block content %}
<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    </div>
    <div class="shape-box"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="{% url 'consulting:home' %}">Home</a></li>
                            <li class="active">cases Details</li>
                        </ul>
                    </div>
                    <div class="title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                        <h2>Case Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Case Details Area-->
<section class="case-deatils-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="case-deatils-content">
                    <div class="case-deatils__img-box">
                        {% if case.display_image %}
                        <img src="{{ case.display_image }}" alt="{{ case.title }}">
                        {% endif %}
                    </div>
                    <div class="case-info-content">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="single-box-case-info">
                                    <p>Clients:</p>
                                    <h3>{{ case.client }}</h3>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="single-box-case-info">
                                    <p>Category:</p>
                                    <h3>{{ case.category }}</h3>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="single-box-case-info">
                                    <p>Date:</p>
                                    <h3>{{ case.case_date|date:'d F, Y' }}</h3>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="single-box-case-info">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-facebook-circular-logo"></i></a></li>
                                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="case-deatils-text-box">
                        <h2>{{ case.title }}</h2>
                        <p class="text1">{{ case.short_summary }}</p>
                        <p class="text2">{{ case.description|linebreaks }}</p>
                        <ul>
                            {% for point in case.keypoints.all %}
                            <li><span class="icon-check"></span> {{ point.text }}</li>
                            {% empty %}
                            <li>No key points available.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="case-details-prew-next-button">
                        <div class="single-btn prew">
                            {% if prev_case %}
                            <a href="{% url 'consulting:case_details' prev_case.slug %}"><span class="icon-right-arrow"></span></a>
                            <p>Prev</p>
                            {% endif %}
                        </div>
                        <div class="single-btn next">
                            {% if next_case %}
                            <p>Next</p>
                            <a href="{% url 'consulting:case_details' next_case.slug %}"><span class="icon-right-arrow"></span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Case Details Area-->
{% endblock %}