{% extends "base.html" %}
{% block title %}Case Details - Axial Consulting{% endblock %}
{% block content %}
<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(/static/images/breadcrumb/breadcrumb-1.jpg);">
    </div>
    <div class="shape-box"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="{% url 'consulting:home' %}">Home</a></li>
                            <li class="active">cases Details</li>
                        </ul>
                    </div>
                    <div class="title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                        <h2>Case Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Case Details Area-->
<section class="case-deatils-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="case-deatils-content">
                    <div class="case-deatils__img-box">
                        <img src="/static/images/resources/case-deatils-img-1.jpg" alt="">
                    </div>
                    <div class="case-info-content">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="single-box-case-info">
                                    <p>Clients:</p>
                                    <h3>Jessica Brown</h3>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="single-box-case-info">
                                    <p>Category:</p>
                                    <h3>Consulting, Finance</h3>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="single-box-case-info">
                                    <p>Date:</p>
                                    <h3>20 October, 2021</h3>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="single-box-case-info">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-facebook-circular-logo"></i></a></li>
                                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="case-deatils-text-box">
                        <h2>Business Growth Through Expert Leadership</h2>
                        <p class="text1">Need something changed or is there something not quite working the way you envisaged? Is your van a little old and tired and need refreshing? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. There are many variations of passages.</p>
                        <ul>
                            <li><span class="icon-check"></span> Lorem Ipsum is simply dummy text is your van a little old and tired.</li>
                            <li><span class="icon-check"></span> When an unknown printer took has survived not only five centuries.</li>
                            <li><span class="icon-check"></span> The leap into electronic typesetting nisl pulvinar ornare eget.</li>
                        </ul>
                    </div>
                    <div class="case-details-prew-next-button">
                        <div class="single-btn prew">
                            <a href="#"><span class="icon-right-arrow"></span></a>
                            <p>prev</p>
                        </div>
                        <div class="single-btn next">
                            <p>Next</p>
                            <a href="#"><span class="icon-right-arrow"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Case Details Area-->
{% endblock %}