{% extends "base.html" %}
{% block title %}Home - Axial Consulting{% endblock %}
{% block content %}
<!-- Start Main Slider -->
<section class="main-slider style1">
    <div class="slider-box">
        <!-- Banner Carousel -->
        <div class="banner-carousel owl-theme owl-carousel">
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/static/images/slides/slide-v1-1.jpg)">
                </div>
                <div class="shape-box"></div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>
                                Consulting<span class="dotted"></span><br>
                                Financial<span class="dotted"></span><br>
                                Advice<span class="dotted"></span>
                            </h2>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="{% url 'consulting:about' %}">
                                <span class="txt">
                                    discover more<i class="icon-refresh arrow"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/static/images/slides/slide-v1-2.jpg)">
                </div>
                <div class="shape-box"></div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>
                                Sultin Best<span class="dotted"></span><br>
                                Consulting<span class="dotted"></span><br>
                                Services<span class="dotted"></span>
                            </h2>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="{% url 'consulting:about' %}">
                                <span class="txt">
                                    discover more<i class="icon-refresh arrow"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/static/images/slides/slide-v1-3.jpg)">
                </div>
                <div class="shape-box"></div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>
                                Consulting<span class="dotted"></span><br>
                                Financial<span class="dotted"></span><br>
                                Advice<span class="dotted"></span>
                            </h2>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="{% url 'consulting:about' %}">
                                <span class="txt">
                                    discover more<i class="icon-refresh arrow"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Main Slider -->

<!--Start Service Style1 Area-->
<section class="service-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="service-style1__title">
                    <div class="sec-title sec-title--style2">
                        <div class="sub-title">
                            <div class="border-box"></div>
                            <h3>What we do</h3>
                        </div>
                        <h2>Services We’re<br> Offering</h2>
                    </div>
                    <div class="inner-text">
                        <p>There are many variations of passages of lorem ipsum available but the majority have
                            suffered in some form by injected humour.</p>
                    </div>

                    <div class="video-holder-box">
                        <div class="video-gallery-style1">
                            <div class="video-gallery-style1__bg"
                                style="background-image: url(/static/images/resources/video-gallery-style1-bg.jpg);">
                            </div>
                            <div class="icon wow zoomIn animated" data-wow-delay="300ms"
                                data-wow-duration="1500ms">
                                <a class="video-popup" title="Video Gallery"
                                    href="https://www.youtube.com/watch?v=p25gICT63ek">
                                    <span class="fa fa-play"></span>
                                </a>
                            </div>
                        </div>
                        <div class="video-gallery-title">
                            <h3>Fusce dapus nisi est</h3>
                            <a class="video-popup" title="Video Gallery"
                                href="https://www.youtube.com/watch?v=p25gICT63ek">
                                Watch Video
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-7">
                <div class="service-style1__content">
                    <div class="row">
                        <!--Start Single Service Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-service-style1">
                                <div class="shape-box"></div>
                                <div class="icon-holder">
                                    <span class="icon-report"></span>
                                </div>
                                <div class="title-holder">
                                    <h3>
                                        <a href="{% url 'consulting:service_details' 1 %}">Business<br> Growth</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!--End Single Service Style1-->
                        <!--Start Single Service Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-service-style1">
                                <div class="shape-box"></div>
                                <div class="icon-holder">
                                    <span class="icon-global"></span>
                                </div>
                                <div class="title-holder">
                                    <h3>
                                        <a href="{% url 'consulting:service_details' 1 %}">Marketing<br> Rules</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!--End Single Service Style1-->
                        <!--Start Single Service Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-service-style1">
                                <div class="shape-box"></div>
                                <div class="icon-holder">
                                    <span class="icon-business"></span>
                                </div>
                                <div class="title-holder">
                                    <h3>
                                        <a href="{% url 'consulting:service_details' 1 %}">Financial<br> Advice</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!--End Single Service Style1-->
                        <!--Start Single Service Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-service-style1">
                                <div class="shape-box"></div>
                                <div class="icon-holder">
                                    <span class="icon-protection"></span>
                                </div>
                                <div class="title-holder">
                                    <h3>
                                        <a href="{% url 'consulting:service_details' 1 %}">Banking<br> Safe</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!--End Single Service Style1-->

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Service Style1 Area-->

<!--Start About Style1 Area-->
<section class="about-style1-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <div class="border-box"></div>
                <h3>our introductions</h3>
            </div>
            <h2>We’re Providing the<br> Best Solution by our Expert</h2>
        </div>
        <div class="row text-right-rtl">

            <div class="col-xl-6">
                <div class="about-style1__image clearfix">
                    <div class="shape-1"></div>
                    <div class="shape-2"></div>
                    <div class="inner">
                        <img src="/static/images/about/about-style1__image-1.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="about-style1__content">
                    <div class="inner-content">

                        <div class="top-text">
                            <h3>Proin est lacus, sagittis lobortis iaculis eget.</h3>
                            <p>Laculis nec purus. Cras faucibus fringilla orci in sollicitudin. Donec eget
                                tincidunt arcu.</p>
                        </div>

                        <ul>
                            <li>
                                <span class="icon-check"></span>
                                Nsectetur cing elit.
                            </li>
                            <li>
                                <span class="icon-check"></span>
                                Suspe ndisse suscipit sagittis leo.
                            </li>
                            <li>
                                <span class="icon-check"></span>
                                Entum estibulum dignissim posuere.
                            </li>
                            <li>
                                <span class="icon-check"></span>
                                Donec tristique ante vel sem dictum rhoncus.
                            </li>
                        </ul>

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="progress-block">
                                    <div class="inner-box">
                                        <div class="graph-outer">
                                            <input type="text" class="dial" data-fgColor="#20bad1"
                                                data-bgColor="#eff7f8" data-width="100" data-height="100"
                                                data-linecap="normal" value="90">
                                            <div class="inner-text count-box">
                                                <span class="count-text" data-stop="90"
                                                    data-speed="2000"></span>%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="outer-text">
                                        <h3>Client<br> Satisfied</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="progress-block">
                                    <div class="inner-box">
                                        <div class="graph-outer">
                                            <input type="text" class="dial" data-fgColor="#20bad1"
                                                data-bgColor="#eff7f8" data-width="100" data-height="100"
                                                data-linecap="normal" value="50">
                                            <div class="inner-text count-box">
                                                <span class="count-text" data-stop="50"
                                                    data-speed="2000"></span>%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="outer-text">
                                        <h3>Finance<br> Consulting</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="signature-box">
                            <h2>Kevin Martin <span>- CO Founder</span></h2>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End About Style1 Area-->

<!--Start Slogan Style3 Area-->
<section class="slogan-style3-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="slogan-style3__content" data-aos="slide-up" data-aos-easing="linear"
                    data-aos-duration="500">
                    <h3>The Only Source of Knowledge is Experience.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Slogan Style3 Area-->

<!--Start working process Area-->
<section class="working-process-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <div class="border-box"></div>
                <h3>our work process</h3>
            </div>
            <h2>How We Works</h2>
        </div>
        <div class="row">

            <!--Start working process Single-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="working-process__single wow fadeInRight" data-wow-delay="100ms"
                    data-wow-duration="1500ms">
                    <div class="working-process__single-inner">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/static/images/resources/working-process-img1.jpg" alt="" />
                            </div>
                            <div class="counting"></div>
                        </div>

                        <div class="content-box text-center">
                            <h3><a href="#">Meet Consultant</a></h3>
                            <p>Lorem Ipsum is simply free <br>dumy text of the printing<br> and amet con
                                piscing.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End working process Single-->

            <!--Start working process Single-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="working-process__single wow fadeInRight" data-wow-delay="300ms"
                    data-wow-duration="1500ms">
                    <div class="working-process__single-inner">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/static/images/resources/working-process-img2.jpg" alt="" />
                            </div>
                            <div class="counting"></div>
                        </div>

                        <div class="content-box text-center">
                            <h3><a href="#">Expert Advice</a></h3>
                            <p>Lorem Ipsum is simply free <br>dumy text of the printing<br> and amet con
                                piscing.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End working process Single-->
            <!--Start working process Single-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="working-process__single wow fadeInRight" data-wow-delay="500ms"
                    data-wow-duration="1500ms">
                    <div class="working-process__single-inner">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/static/images/resources/working-process-img3.jpg" alt="" />
                            </div>
                            <div class="counting"></div>
                        </div>

                        <div class="content-box text-center">
                            <h3><a href="#">Proper Solution</a></h3>
                            <p>Lorem Ipsum is simply free <br>dumy text of the printing<br> and amet con
                                piscing.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End working process Single-->
            <!--Start working process Single-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="working-process__single wow fadeInRight" data-wow-delay="700ms"
                    data-wow-duration="1500ms">
                    <div class="working-process__single-inner">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/static/images/resources/working-process-img4.jpg" alt="" />
                            </div>
                            <div class="counting"></div>
                        </div>

                        <div class="content-box text-center">
                            <h3><a href="#">Business Grow</a></h3>
                            <p>Lorem Ipsum is simply free <br>dumy text of the printing<br> and amet con
                                piscing.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End working process Single-->

        </div>
    </div>
</section>
<!--End working process Area-->


<!--Start Case Stories Area-->
<section class="case-stories-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <div class="border-box"></div>
                <h3>our recent work</h3>
            </div>
            <h2>Case Stories</h2>
        </div>
        <div class="row">
            <!--Start Case Stories Single-->
            <div class="col-xl-6 col-lg-6">
                <div class="case-stories__single">
                    <div class="img-box">
                        <img src="/static/images/resources/case-stories-img1.jpg" alt="">
                    </div>
                    <div class="content-box">
                        <div class="top-text">
                            <h2>Business Growth <br>Through Expert <br> Leadership</h2>
                            <div class="line"></div>
                        </div>
                        <div class="bottom-text">
                            <div class="text">
                                <p>When an unknown printer took a galley<br> type and it to make a type
                                    book.
                                </p>
                            </div>
                            <div class="icon">
                                <a href="#"><span class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Case Stories Single-->

            <!--Start Case Stories Single-->
            <div class="col-xl-6 col-lg-6">
                <div class="case-stories__single">
                    <div class="img-box">
                        <img src="/static/images/resources/case-stories-img2.jpg" alt="">
                    </div>
                    <div class="content-box">
                        <div class="top-text">
                            <h2>The Marketing<br> Advice and Risk<br> Mangement</h2>
                            <div class="line"></div>
                        </div>
                        <div class="bottom-text">
                            <div class="text">
                                <p>When an unknown printer took a galley<br> type and it to make a type
                                    book.
                                </p>
                            </div>
                            <div class="icon">
                                <a href="#"><span class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Case Stories Single-->

        </div>
    </div>
</section>
<!--End Case Stories Area-->

<!--Start slogan area-->
<section class="slogan-area">
    <div class="slogan-area__bg"
        style="background-image: url(/static/images/parallax-background/slogan-area-bg.jpg);"></div>
    <div class="shape wow slideInRight" data-wow-delay="1400ms" data-wow-duration="5500ms"
        style="background-image: url(/static/images/shape/shape-1.png);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="slogan-text-box">
                    <h2 class="paroller">We Provide <span
                            style="background-image: url(/static/images/shape/zig-zag.png);">Best</span><br>
                        Finance & Consulting<br> Services</h2>
                    <div class="slogan-btn-box paroller">
                        <a class="btn-one" href="{% url 'consulting:about' %}">
                            <span class="txt">Discover More</span>
                        </a>
                    </div>

                    <div class="parallax-scene parallax-scene-1">
                        <div data-depth="0.20" class="parallax-layer shape">
                            <div class="experience-box">
                                <h2>30</h2>
                                <p class="curved-circle">Years of<br> Experience</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End slogan area-->

<!--Start Company Benefits Area-->
<section class="company-benefits-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <div class="border-box"></div>
                <h3>company benefits</h3>
            </div>
            <h2>Building Experience & Give<br> High Success Rates</h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <ul class="fact-counter-box">
                    <!--Start Single Fact Counter-->
                    <li class="single-fact-counter">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="708">0</span>
                            </div>
                        </div>
                        <div class="title">
                            <h3>Projects are Completed</h3>
                        </div>
                    </li>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <li class="single-fact-counter">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="630">0</span>
                            </div>
                        </div>
                        <div class="title">
                            <h3>Clients are Satisfied</h3>
                        </div>
                    </li>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <li class="single-fact-counter">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="900">0</span>
                            </div>
                        </div>
                        <div class="title">
                            <h3>Gave Finance Advices</h3>
                        </div>
                    </li>
                    <!--End Single Fact Counter-->
                </ul>
            </div>

            <div class="col-xl-5 col-lg-6 col-md-6">
                <div class="company-benefits-content">
                    <div class="top-text">
                        <p>Pellentesque tortor ex, luctus sed aliquet sit amet, molestie at odio. Etiam non
                            commodo, fermentum est et, posuere elit.</p>
                    </div>
                    <ul>
                        <li>
                            <span class="icon-check"></span>
                            Suspe ndisse suscipit sagittis leo.
                        </li>
                        <li>
                            <span class="icon-check"></span>
                            Entum estibulum dignissim posuere.
                        </li>
                        <li>
                            <span class="icon-check"></span>
                            Lorem Ipsum gene on the tend to repeat.
                        </li>
                    </ul>
                    <div class="bottom-content">
                        <div class="img-box">
                            <img src="/static/images/resources/benefits-content-thumb-img.jpg" alt="">
                        </div>
                        <div class="inner-text">
                            <p>Consulting & finance<br> company funded in <span>1886</span></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-4">
                <div class="company-benefits-img-box">
                    <div class="shape-1 paroller-2"></div>
                    <div class="shape-2 paroller-2"></div>
                    <div class="inner">
                        <img src="/static/images/resources/company-benefits-img-1.jpg" alt="">
                        <div class="logo-box">
                            <img src="/static/images/icon/thm-logo-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Company Benefits Area-->

<!--Start Testimonial Style1 Area-->
<section class="testimonial-style1-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <div class="border-box"></div>
                <h3>our testimonials</h3>
            </div>
            <h2>What They Say?</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-style1-content">
                    <div class="theme_carousel testimonial-carousel owl-theme owl-carousel" data-options='{
                            "loop": true, 
                            "margin": 30, 
                            "autoheight":true, 
                            "lazyload":true, 
                            "nav": false, 
                            "dots": false, 
                            "autoplay": true, 
                            "autoplayTimeout": 5000, 
                            "smartSpeed": 500, 
                            "navText": ["<span class=\"left icon-next\"></span>",
                            "<span class=\"right icon-next\"></span>"], 
                            "responsive":{ 
                            "0" :{ "items": "1" }, 
                            "600" :{ "items" : "1" }, 
                            "768" :{ "items" : "1" }, 
                            "992":{ "items" : "2" }, 
                            "1200":{ "items" : "2" }
                        }
                    }'>

                        <!--Start Single Testimonial Style1-->
                        <div class="single-testimonial-style1">
                            <div class="text">
                                <p>I was impresed by the company services, not lorem ipsum is simply free
                                    text of used. Neque porro est qui dolorem ipsum quia.</p>
                            </div>
                            <div class="bottom-box">
                                <div class="client-name">
                                    <h3>Christine Rose</h3>
                                    <span>Customer</span>
                                </div>
                                <div class="client-img">
                                    <div class="inner">
                                        <img src="/static/images/testimonial/testimonial-v1-1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Single Testimonial Style1-->

                        <!--Start Single Testimonial Style1-->
                        <div class="single-testimonial-style1">
                            <div class="text">
                                <p>I was impresed by the company services, not lorem ipsum is simply free
                                    text of used. Neque porro est qui dolorem ipsum quia.</p>
                            </div>
                            <div class="bottom-box">
                                <div class="client-name">
                                    <h3>Mike Hardson</h3>
                                    <span>Customer</span>
                                </div>
                                <div class="client-img">
                                    <div class="inner">
                                        <img src="/static/images/testimonial/testimonial-v1-2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Single Testimonial Style1-->

                        <!--Start Single Testimonial Style1-->
                        <div class="single-testimonial-style1">
                            <div class="text">
                                <p>I was impresed by the company services, not lorem ipsum is simply free
                                    text of used. Neque porro est qui dolorem ipsum quia.</p>
                            </div>
                            <div class="bottom-box">
                                <div class="client-name">
                                    <h3>Christine Rose</h3>
                                    <span>Customer</span>
                                </div>
                                <div class="client-img">
                                    <div class="inner">
                                        <img src="/static/images/testimonial/testimonial-v1-1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Single Testimonial Style1-->
                        <!--Start Single Testimonial Style1-->
                        <div class="single-testimonial-style1">
                            <div class="text">
                                <p>I was impresed by the company services, not lorem ipsum is simply free
                                    text of used. Neque porro est qui dolorem ipsum quia.</p>
                            </div>
                            <div class="bottom-box">
                                <div class="client-name">
                                    <h3>Mike Hardson</h3>
                                    <span>Customer</span>
                                </div>
                                <div class="client-img">
                                    <div class="inner">
                                        <img src="/static/images/testimonial/testimonial-v1-2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Single Testimonial Style1-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Style1 Area-->

<!--Start Partner Area-->
<section class="partner-area">
    <div class="container">
        <div class="brand-content">
            <div class="inner">
                <ul class="partner-box partner-carousel owl-carousel owl-theme owl-dot-style1 rtl-carousel">
                    <!--Start Single Partner Logo Box-->
                    <li class="single-partner-logo-box">
                        <a href="#"><img src="/static/images/brand/brand-logo-1.png" alt="Awesome Image"></a>
                    </li>
                    <!--End Single Partner Logo Box-->
                    <!--Start Single Partner Logo Box-->
                    <li class="single-partner-logo-box">
                        <a href="#"><img src="/static/images/brand/brand-logo-2.png" alt="Awesome Image"></a>
                    </li>
                    <!--End Single Partner Logo Box-->
                    <!--Start Single Partner Logo Box-->
                    <li class="single-partner-logo-box">
                        <a href="#"><img src="/static/images/brand/brand-logo-3.png" alt="Awesome Image"></a>
                    </li>
                    <!--End Single Partner Logo Box-->
                    <!--Start Single Partner Logo Box-->
                    <li class="single-partner-logo-box">
                        <a href="#"><img src="/static/images/brand/brand-logo-4.png" alt="Awesome Image"></a>
                    </li>
                    <!--End Single Partner Logo Box-->
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Partner Area-->


<!--Start Blog Style1 Area-->
<section class="blog-style1-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="icon">
                <span class="icon-heartbeat"></span>
            </div>
            <div class="sub-title">
                <h3>Latest Blog Posts</h3>
            </div>
            <h2>News & Articles</h2>
        </div>
        <div class="row">

            <!--Start Single Blog Style1-->
            <div class="col-xl-4 col-lg-12">
                <div class="single-blog-style1">
                    <div class="img-holder">
                        <img src="/static/images/blog/blog-v1-1.jpg" alt="">
                        <div class="date-box">
                            <p>20 oct</p>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-info">
                            <ul>
                                <li><span class="icon-user"></span><a href="#">by Admin</a></li>
                                <li><span class="icon-conversation"></span><a href="#">2 Comments</a></li>
                            </ul>
                        </div>
                        <h3><a href="{% url 'consulting:blog_details' 1 %}">Accounting Support During the Exponential Growth</a></h3>
                        <div class="btn-box">
                            <a href="{% url 'consulting:blog_details' 1 %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Blog Style1-->

            <!--Start Single Blog Style1-->
            <div class="col-xl-4 col-lg-12">
                <div class="single-blog-style1">
                    <div class="img-holder">
                        <img src="/static/images/blog/blog-v1-2.jpg" alt="">
                        <div class="date-box">
                            <p>15 oct</p>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-info">
                            <ul>
                                <li><span class="icon-user"></span><a href="#">by Admin</a></li>
                                <li><span class="icon-conversation"></span><a href="#">2 Comments</a></li>
                            </ul>
                        </div>
                        <h3><a href="{% url 'consulting:blog_details' 1 %}">How to Manage Your Business’s Online Reputation</a></h3>
                        <div class="btn-box">
                            <a href="{% url 'consulting:blog_details' 1 %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Blog Style1-->

            <!--Start Single Blog Style1-->
            <div class="col-xl-4 col-lg-12">
                <div class="single-blog-style1">
                    <div class="img-holder">
                        <img src="/static/images/blog/blog-v1-3.jpg" alt="">
                        <div class="date-box">
                            <p>10 oct</p>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="meta-info">
                            <ul>
                                <li><span class="icon-user"></span><a href="#">by Admin</a></li>
                                <li><span class="icon-conversation"></span><a href="#">2 Comments</a></li>
                            </ul>
                        </div>
                        <h3><a href="{% url 'consulting:blog_details' 1 %}">If You Want to be a Great Leader Shut Up and Just
                                Listen</a></h3>
                        <div class="btn-box">
                            <a href="{% url 'consulting:blog_details' 1 %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Blog Style1-->

        </div>
    </div>
</section>
<!--End Blog Style1 Area-->

<!--Start Slogan Style2 Area-->
<section class="slogan-style2-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="slogan-style2-content">
                    <div class="title">
                        <h2>We’re Delivering the Best<br> Customer Experience</h2>
                    </div>
                    <div class="button-box">
                        <a class="btn-one" href="{% url 'consulting:about' %}"><span class="txt">Discover More</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Slogan Style2 Area-->

{% endblock %}