{% extends "base.html" %}
{% block title %}{{ service.title }} - Schawks Consulting{% endblock %}
{% block content %}
<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(https://cdn.pixabay.com/photo/2020/12/05/14/08/man-5806013_960_720.jpg);">
    </div>
    <div class="shape-box"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="{% url 'consulting:home' %}">Home</a></li>
                            <li><a href="{% url 'consulting:services' %}">Services</a></li>
                            <li class="active">{{ service.title }}</li>
                        </ul>
                    </div>
                    <div class="title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                        <h2>{{ service.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start Service Details area -->
<section class="service-details-area">
    <div class="container">
        <div class="row">
            <!--Start Service Details Sidebar -->
            <div class="col-xl-4 col-lg-5 order-box-2">
                <div class="service-details__sidebar">
                    <div class="view-all-service d-none">
                        <ul class="service-pages">
                            {% for s in services %}
                            <li{% if s.pk == service.pk %} class="active"{% endif %}>
                                <a href="{% url 'consulting:service_details' s.slug %}">
                                    {{ s.title }} <span class="icon-right-arrow"></span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="service-details-contact-info text-center">
                        <div class="sidebar-info-box-bg" style="background-image: url(/static/images/sidebar/sidebar-info-box-bg.jpg);"></div>
                        <div class="icon">
                            <span class="icon-phone-call"></span>
                        </div>
                        <h3>Contact with<br> us for any<br> advice</h3>
                        <h2><a href="tel:+447402341699">+447402341699</a></h2>
                    </div>
                    <div class="info-download-box">
                        <ul>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-download"></span>
                                </div>
                                <div class="title">
                                    <h5><a href="#">Download our Broucher</a></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Service Details Sidebar -->
            <!--Start Service Details Content -->
            <div class="col-xl-8 col-lg-7 order-box-1">
                <div class="service-details__content">
                    <div class="img-box-outer">
                        <div class="img-box1">
                            <img src="{{ service.display_image }}" alt="{{ service.title }}" />
                        </div>
                        <div class="icon">
                            <span class="{{ service.icon }}"></span>
                        </div>
                    </div>
                    <div class="text-box1">
                        <h2>{{ service.title }}</h2>
                        {% if service.detailed_description %}
                        <p>{{ service.detailed_description }}</p>
                        {% endif %}
                        {% if service.additional_description %}
                        <p>{{ service.additional_description }}</p>
                        {% endif %}
                    </div>
                    
                    {% if service.highlight_text_1 or service.highlight_text_2 %}
                    <div class="text-box2">
                        <div class="row">
                            {% if service.highlight_text_1 %}
                            <div class="col-xl-6">
                                <div class="text-box2-single" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                                    <p>{{ service.highlight_text_1 }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if service.highlight_text_2 %}
                            <div class="col-xl-6">
                                <div class="text-box2-single" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                                    <p>{{ service.highlight_text_2 }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if service.additional_content %}
                    <div class="text-box3">
                        <p>{{ service.additional_content }}</p>
                    </div>
                    {% endif %}
                    
                    {% if service.display_secondary_image or service.benefits_title %}
                    <div class="text-box4">
                        <div class="row">
                            {% if service.display_secondary_image %}
                            <div class="col-xl-6">
                                <div class="img-box">
                                    <img src="{{ service.display_secondary_image }}" alt="{{ service.title }}" />
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-xl-{% if service.display_secondary_image %}6{% else %}12{% endif %}">
                                <div class="content-box">
                                    <h2>{{ service.benefits_title|default:"Service Benefits" }}</h2>
                                    {% if service.benefits_description %}
                                    <p>{{ service.benefits_description }}</p>
                                    {% endif %}
                                    {% if benefits %}
                                    <ul>
                                        {% for benefit in benefits %}
                                        <li>
                                            <span class="icon-check"></span> {{ benefit.text }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if faqs %}
                    <div class="service-details-faq-content">
                        <ul class="accordion-box">
                            {% for faq in faqs %}
                            <li class="accordion block{% if forloop.first %} active-block{% endif %}">
                                <div class="acc-btn{% if forloop.first %} active{% endif %}">
                                    <div class="icon-outer">
                                        <i class="icon-down-arrow"></i>
                                    </div>
                                    <h3>{{ faq.question }}</h3>
                                </div>
                                <div class="acc-content{% if forloop.first %} current{% endif %}">
                                    <p>{{ faq.answer }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!--End Service Details Content -->
        </div>
    </div>
</section>
<!--End Service Details area -->
{% endblock %}